<div id="network-settings" class="d-flex flex-column align-items-center">
  <h3>Network SSID</h3>
  <div class="form-inline">
    <div class="d-flex flex-row">
      <div class="text-input flex-fill">
        <input class="input" size="32" />
      </div>
    </div>
  </div>
  <h3>Network Password</h3>
  <div class="text-input">
    <input class="input" size="32" />
  </div>
  <h3>Host IP</h3>
  <div class="text-input">
    <input class="input" size="32" />
  </div>
  <h3>Port Number</h3>
  <div class="text-input">
    <input class="input" size="32" />
  </div>
</div>
