.text-input input:focus {
  outline: none;
}
.text-input input {
  border: none;
  box-shadow: 0px 0px 0px 4px var(--main-color);
  border-radius: 3px;
  text-align: center;
  font-size: 24px;
  padding: 8px;
  font-weight: bold;
  width: 6em;
}
